<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

<nav class="ui fixed inverted menu">
	<nav class="ui container">
		<a href="/" class="item"><i class="code icon"></i>Blog App</a>
		<a href="/posts/new" class="ui right floated item"><i class="plus square outline icon"></i>New Post</a>
	</nav>	
</nav>