<%include ./partials/header.ejs %>

<div class="ui main text container segment">
	<h1>Add new Post</h1>
	<form class="ui form" action="/posts" method="POST">
	<div class="field">
		<label>Name</label>
		<input type="text" name="blog[title]">	
	</div>
	<div class="field">
		<label>Image</label>
		<input type="text" name="blog[image]">	
	</div>
	<div class="field">
		<label>Blog Content</label>
		<textarea name="blog[description]"></textarea>
	</div>
	<button class="positive ui button">Submit</button>
	</form>
</div>

<%include ./partials/footer.ejs %>